#sucesso {
    z-index: 1000;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 222222111;
    transition: all 400ms;
}

#close {
    font-size: 2rem;
    z-index: 1000111;
    color: black;
    margin-top: 5rem;
}
