.botaoVisualizar {
    width: 150px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(0, 113, 128);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}