.listaUsuario {
    margin-top: 15px;
    margin-right: 40px;
}

@media (max-width : 1280px) {
    .listaUsuario {
        padding-left: 320px;
    }
}

.addUsuario {
    margin-top: 15px;
    margin-left: 440px;
}

.atualizarUsuario {
    margin-top: 15px;
    margin-left: 40px;
}