.fp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#imagem{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.fpName{
    font-weight: bold;
}

.fpCity{
    font-weight: 400;
    color: rgb(49, 49, 49);
    font-weight: 300;
}

.fpPrice{
    font-weight: 900;
}

.fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating>span{
    font-size: 14px;
}

.fpDesc {
    width: 30ch;
    /* height: 1ch; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}