.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fLists{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 0.95rem;
}

.fList{
    list-style: none;
    padding: 0;
}

.fText{
    margin-top: 2rem;
    padding-bottom: 20px;
}

.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}