.footer{
    width: 92%;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
    padding: 0;
}

.fText{
    padding-bottom: 20px;
}

.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}