#aqui {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-top: 5rem;
    margin-bottom: 5rem;

    width: 30%;

}

#aqui img {
    margin-bottom: 10rem;
    margin-right: 20rem;
}

#aqui div, .classe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aqui div {
    flex-direction: row;
    flex-wrap: wrap;
    width: 120%;
}

#aqui div input {
    margin: 2rem;
    text-align: center;
}

#dados-perfil {
}

.botoes-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botoes-perfil button {
    margin: 2rem;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    
}