body{
    overflow-x: hidden;
}

.form-control{
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
    margin: 1rem;
}

.input{
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 16px;
    width: 200px;
}

.carrossel-slide{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#slide-1, #slide-2{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    transition: all 400ms;

    justify-content: center;
    align-items: center;

    width: 80%;
}

#slide-2{
    margin-top: 4rem;
    position: absolute;
    /* right: -1000px;
    z-index: 3000; */
    display: none;
    transition: all 400ms;

    justify-content: center;
}

.form-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 80%;
}

.checkbox {
    height: 20px;
    width: 20px;
}