body {
    overflow-x: hidden;
}

.form-body,
.form-carrossel,
.form-control,
.form-footer,
#slide-1,
#slide-2 {
    display: flex;
}

.form-control,
#slide-1,
#slide-2 {
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    margin: 2rem;
}

.input {
    border: 1.25px solid rgb(209, 209, 209);
    border-radius: 5px;
    background-color: rgba(112, 112, 112, 0.185);
    height: 25px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 16px;
    width: 200px;
    color: aliceblue;
}

#slide-1,
#slide-2 {
    transition: all 400ms;

    justify-content: center;
    align-items: center;

    width: 80%;
}

#slide-2 {
    display: none;
}

.form-body {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.form-carrossel {
    justify-content: center;
    height: 100%;
}

.form-footer {
    justify-content: space-between;
    width: 60%;
}

.button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    background-color: rgb(0, 153, 255);
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
}

form {
    color: whitesmoke;
    margin-top: 1rem;
    padding: 4rem;
    /* background-color: #0071c2; */
    background: rgb(42, 35, 91);
    background: linear-gradient(28deg, rgba(42, 35, 91, 1) 12%, rgba(0, 113, 194, 1) 100%);
}

h2 {
    font-size: 2.5rem;
}

#seguir {
    margin-left: 75%;
}

#enviar:hover {
    background-color: rgb(16, 187, 158);
}

.componente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}