.mail{
    width: 100%;
    margin-top: 25px;
    background-color: #006d80;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    margin-right: 10px;
    background-color: #01191d69;
}

.mailInputContainer>button{
    height: 50px;
    background-color: #0071c2;
    cursor: pointer;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

