
.botaoModulo{
    margin-top:60px;
    margin-left: 30px;
}

.lasqeuira{
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    margin: 20px;
    display: flex;
}

.lasqeuira p80{
    
        color: lightgray;
        font-size: 20px;
      
}